body{
   margin: 0px;
   font-family: 'Lato', sans-serif;
   font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    color:darkgray;
    
    
}   
*,
*:before,
*::after {
    box-sizing: border-box;
}
/* Container
================*/ 
    .container{
    width: 100%;
    max-width: 1170px;
    margin:0 auto;
}
.header{

}