body{
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(245, 144, 198);
}
h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
}
.title_text {
    color:blue;
}

span {
    color: rgb(255, 255, 255);
    font-size: larger;
}
h2{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.btn {
    background-color: rgb(5, 9, 10);
    padding: 20px; 
    margin: 10px;
    transition: all 0.5s;
}

.btn:hover {
    background-color: rgb(244, 138, 170);
    padding: 40px; 
  
}
.tess{
    color: antiquewhite;
}
img{
    width: 500px;
    height: 350px;
}
