body{
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(245, 144, 198);
}
h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
}
.title_text {
    color:blue;
}

span {
    color: rgb(255, 255, 255);
    font-size: larger;
}
h2{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.btn {
    background-color: rgb(5, 9, 10);
    padding: 20px; 
    margin: 10px;
    transition: all 0.5s;
}

.btn:hover {
    background-color: rgb(244, 138, 170);
    padding: 40px; 
  
}
.tess{
    color: antiquewhite;
}
img{
    width: 500px;
    height: 350px;
}
.yava{
    color: rgb(252, 243, 212);
    margin: 10px;
    font-size: 30px;
}
.col{
    background-color: antiquewhite;
    color: darksalmon;
    width: 100%;
}
.collums{
    display: flex;
}
.blacktea{
    color: darksalmon;
}
@media screen and (min-width:760px) {
    .collums {
        display: flex;
        gap: 1em;
    }
}
.header {
display: flex;
justify-content: space-between;
background-color: rgb(253, 135, 204);
align-items: center;
height: 3em;
}
.nav{
    display: flex;
    gap: 1em;
    background-color:antiquewhite;
    color: darksalmon;

}
.redtea{
    font-size: 25px;
    color: antiquewhite;
    background-color: darksalmon;
}